@model IEnumerable<week5b.Models.Request>
@{
    ViewBag.Title = "Index";
}
<center><h2>DMV FORM</h2></center>
<p>
    @Html.ActionLink("Create New", "NewForm")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ODL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TodaysDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.County)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ODL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PAddress)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.City)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.PState)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Zip)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.DOB)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.TodaysDate)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.County)
            </th>
        </tr>
    }
</table>
