
@model HW6.Models.Product
@{
    ViewBag.Title = "IndividualProduct";
}
<!--background image to change-->
<body background="/Content/img/trees.JPG" style="padding-top:350px;">
    <!--Back to catagories-->
    <h4 style="text-align:center">@Html.ActionLink(Model.ProductSubcategory.Name, "MultiProducts/" + Model.ProductSubcategoryID)</h4>

    <!-- Display image  -->
    <div align="center">
        <div>
            <img src="@Url.Action("ProductPhoto", "Product", new { ID = Model.ProductID, photo = true })" />
        </div>
        <div class="row col-md-12" style="background-color:rgba(0, 255, 247, 0.15);">
            <h4><span style="color:white">@Html.DisplayFor(model => model.ProductModel.Name)</span></h4>
         
            <!-- Display  product info-->
            <dl style="color:white;text-align:center">
                <dt>
                    Model #:
                </dt>
                <dd>@Html.DisplayFor(model => model.ProductNumber)</dd>
                <dt>
                    Color:
                </dt>
                <dd>@Html.DisplayFor(model => model.Color)</dd>
                <dt>
                    Price:
                </dt>
                <dd>$@Html.DisplayFor(model => model.ListPrice)</dd>
                <dt>
                    Size:
                </dt>
                <dd>
                    <span>@Html.DisplayFor(model => model.Size)</span>
                    <span> @ViewBag.SizeUnit</span>
                </dd>
                <dt>
                    Weight:
                </dt>
                <dd><span>@Html.DisplayFor(model => model.Weight)</span> @ViewBag.WeightUnit<span></span></dd>
            </dl>
        </div>

    </div>
    <!--Review and view review pages link-->
    <div>
        <h4 style="padding-left:490px;color:black">@Html.ActionLink("Review", "Review/" + Model.ProductID)</h4>
    </div>
    <div>
        <h4 style="padding-left:450px;">@Html.ActionLink("See all Reviews", "ViewReviews/" + Model.ProductID)</h4>
    </div>

</body>