@model PartyInvites.Models.GuestResponse
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>RsvpForm</title>
</head>
<body>
    <div class="panel">
        <div class="panel-heading text-center" style="color:red;"><h4>RSVP for to send to server</h4></div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    <label>Enter your name:</label>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Enter your email:</label>
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Enter Your phone:</label>
                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>How many guests will you bring:</label>
                    @Html.TextBoxFor(x => x.Guests, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Will you be in attendance?</label>
                    @Html.DropDownListFor(x => x.WillAttend, new[] {
                     new SelectListItem() {Text = "Yes, I will be in attendance",
                     Value = bool.TrueString},
                     new SelectListItem() {Text = "No, I cant make it",
                     Value = bool.FalseString}
                     }, "Pick an option", new { @class = "form-control" })
                </div>
                <div class="text-center">
                    <input class="btn btn-success" type="submit" value="Submit your RSVP form to the server" />
                </div>
            }
        </div>
    </div>
</body>
</html>