@model IEnumerable<week5.Models.Form>
@{
    ViewBag.Title = "Index";
}
<center><h2>DMV FORM</h2></center>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<!-- Table to list all current change of major requests -->
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ODL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.County)
        </th>
    </tr>
  
    

</table>
